<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="psm.delete"/>
      <class name="psm.psm_search"/>
      <class name="psm.psm_update"/>
      <class name="psm.psm_edit"/>
      <class name="psm.admin"/>
      <class name="psm.user"/>
      <class name="psm.psm_add"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
